.index{
	width: 100%;
	overflow-x: hidden;
	.hero{
		.hero-carousel{
			.item{ 
				width: 100%;
				height: calc(100vh - #{$header-height} - 1.5rem);
				margin-bottom: 1.5rem;
				-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 3rem), 50% 100%, 0% calc(100% - 3rem));	
						clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 3rem), 50% 100%, 0% calc(100% - 3rem));	
				position: relative;
				.item-bg {
					position: absolute;
					width: 100%;
					height: 100%;
					object-fit: cover;  
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}
				.item-text {  
					position: absolute;
					width: 100%;
					height: auto;  
					top: auto;
					left: 0;
					right: 0;
					bottom: 20%;
					> img{
						width: 90%;
						height: auto;
						max-width: 956px;
						filter: drop-shadow(0 0 .5rem rgba(0,0,0, .5));
						display: block;
						margin: auto;
						opacity: 0;
						animation: fadeIn 2s forwards;
						animation-delay: 1s;
						@media screen and (min-width: 768px) {
						width: 75%;	
						}
						@media screen and (min-width: 1200px) {
						width: 60%;	
						}
					}
					&::before, &::after{ 
						content: "";
						display: block;
						width: 35%;
						height: 0;
						padding-bottom: calc((75/780)*35%);
						background-repeat: no-repeat;
						background-size: 100% 100%;
						filter: drop-shadow(0 0 .25rem rgba(0,0,0, .5));
						position: absolute;
					}
					&::before{
						background-image: url("../img/index/hero-left.svg");
						top: auto;
						left: 0;
						right: auto;
						bottom: 0;
						animation: slideInLeft 2.5s forwards;
						transform: translateY(120%);
						@media screen and (min-width: 1200px) {
						transform: translateY(85%);
						}
					}
					&::after{  
						background-image: url("../img/index/hero-right.svg");
						top: 0;
						left: auto;
						right: 0;
						bottom: auto;
						animation: slideInRight 2.5s forwards;
						transform: translateY(-100%);
						@media screen and (min-width: 1200px) {
						transform: translateY(-75%);
						}
					}
				}
			}
			.owl-nav{
				.owl-prev, .owl-next{
					width: 10%;
					height: 100%;
					position: absolute;
					top: 0;
					border: 0;
					display: flex;
					justify-content: center;
					align-items: center;	
					font-size: 2rem !important;
					color: $white !important;
				}
				.owl-prev{ 
					left: 0;
				}
				.owl-next{
					right: 0;
				}
			}
			.owl-dots {  
				position: absolute;
				width: 100%;
				height:  auto;
				left: 0;
				right: 0;
				bottom: 1rem;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center; 
				padding-top: 2rem;
				padding-bottom: 2rem;
				.owl-dot {
					position: relative;
					width: .9rem;
					height: .9rem;
					margin: 0 .375rem ;
					background: transparent;
					border: 1px solid $white;
					box-shadow: 0 0 .75rem rgba(0, 0, 0, .375);
					border-radius: 100%;
					transition: .5s;
					&:hover{
						background: rgba($white, .5);	
					}
					&.active {
						width: 1.2rem;
						height: 1.2rem;
						background: $white;
					}
				} 
			}
		}
		.hero-ip{ 
			width: 15%;
			height: auto;
			position: absolute;
			bottom: 1.5rem;
			right: 2rem;
			z-index: 2;
			animation-duration: 3s;
			img{
				max-width: 100%;
				max-height: 100%;
			}
		}	
	}

	.step{
		background-color: rgba($sky, .1);
		padding-top: map-get($spacers, 5);
		padding-bottom: map-get($spacers, 5);
	}
	.step-title{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		small{
			color: $gray-600;
			font-size: 1rem;
			line-height: 1.8;
			letter-spacing: .25em;
		}
	}
	.step-content{
		h4{ 
			display: flex;
			flex-direction: column;	
			line-height: 1.5;
			padding-right: 4rem;
			small{
				color: $primary;
				font-size: 1rem;
				display: block;
				border-top: 1px solid $primary;
				margin-right: -4rem;
				padding-right: 4rem;
				position: relative;
				.step-icon{
					display: block;
					width: 4rem;
					height: 4rem;
					position: absolute;
					top: 0;
					right: 0;
				}
			}
			
		}
		p{
			color: $gray-600;
			font-size: .9rem;
		}
	}
	.step-icon { 
		transform: scale(1);
		transform-style: preserve-3d;
		transition: transform .5s;
		.step-icon-front, .step-icon-back { 
			overflow: hidden;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $primary;
			border-radius: 100%;
			border: .25rem solid #fff;
			box-shadow: 1px 1px $primary, -1px -1px $primary, -1px 1px $primary, 1px -1px $primary;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			transform: translateY(-50%);
			img{
				max-width: 75%;
				max-height: 75%;
			}
		}
		.step-icon-front { //文字
			z-index: 1;
			transform: rotateY(180deg) translateY(-50%);
		}
		.step-icon-back { //圖樣
			backface-visibility: hidden;
			z-index: 2;
			img{
				animation: fadeIn .3s;
				opacity: 1;
			}
		}
	}
	.step-icon.flip { 
		transform: rotateY(180deg);  
		.step-icon-back {
			img{
				animation: fadeOut .3s; 
				opacity: 0;
			}
		}
	}

	.testimonial{
		background-color: $white;
		padding-top: map-get($spacers, 5);
		padding-bottom: map-get($spacers, 5);
	}
	.testimonial-carousel{
		&::before {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			height: 100%;
			width: 0;
			background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
			z-index: 1;
			@media screen and (min-width: 992px) {
			width: 25%;
			}
		}
		&::after {
			position: absolute;
			content: "";
			top: 0;
			right: 0;
			height: 100%;
			width: 0;
			background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
			z-index: 1;
			@media screen and (min-width: 992px) {
			width: 25%;
			}
		}
		.item{ 
			.testimonial-img{
				img {
					width: 100px;
					height: 100px;
				}
				.testimonial-icon{
					color: $primary;
					font-size: 2rem;
					position: absolute;
					top: 100%;
					left: 50%;
					transform: translate(-50%, -50%);
					&::before{
						content: ""	;
						display: block;
						width: 75%;
						height: 1rem;
						background-color: #fff;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						z-index: -1;
					}	
				}
			}
			.testimonial-text{ 
				margin-left: 1rem;
				margin-right: 1rem;
				margin-bottom: 1.5rem;
				filter: drop-shadow(0 0 .5rem rgba(0, 0, 0, 0.08));
				.testimonial-text-box{
					background-color: #fff;
				  	color: $gray-600;
				  	padding: 1.5rem*2 calc(1.5rem + .5rem) 1.5rem 1.5rem;
					border-radius: $border-radius;
					//面板-上凸-右洞-下凹-左無
					-webkit-clip-path: polygon(   0% 1.5rem,
										 60% 1.5rem,    calc(60% + 1rem) 0,    
									    100%      0, 
										100% calc(100% - 7rem), calc(100% - 1.5rem) calc(100% - 7rem), calc(100% - 1.5rem) calc(100% - 6rem), calc(100% - .5rem) calc(100% - 6rem), calc(100% - .5rem) calc(100% - 7rem), 100% calc(100% - 7rem),
										100% calc(100% - 5.5rem), calc(100% - 1.5rem) calc(100% - 5.5rem), calc(100% - 1.5rem) calc(100% - 4.5rem), calc(100% - .5rem) calc(100% - 4.5rem), calc(100% - .5rem) calc(100% - 5.5rem), 100% calc(100% - 5.5rem),
										100% calc(100% - 4rem), calc(100% - 1.5rem) calc(100% - 4rem), calc(100% - 1.5rem) calc(100% - 3rem), calc(100% - .5rem) calc(100% - 3rem), calc(100% - .5rem) calc(100% - 4rem), 100% calc(100% - 4rem),
									    100% 100%,
										 30% 100%,    calc(30% - 1rem) calc(100% - 1rem),    calc(10% + 1rem) calc(100% - 1rem),    10% 100%,		
									      0% 100%);
							clip-path: polygon(   0% 1.5rem,
												 60% 1.5rem,    calc(60% + 1rem) 0,    
												100%      0, 
												100% calc(100% - 7rem), calc(100% - 1.5rem) calc(100% - 7rem), calc(100% - 1.5rem) calc(100% - 6rem), calc(100% - .5rem) calc(100% - 6rem), calc(100% - .5rem) calc(100% - 7rem), 100% calc(100% - 7rem),
												100% calc(100% - 5.5rem), calc(100% - 1.5rem) calc(100% - 5.5rem), calc(100% - 1.5rem) calc(100% - 4.5rem), calc(100% - .5rem) calc(100% - 4.5rem), calc(100% - .5rem) calc(100% - 5.5rem), 100% calc(100% - 5.5rem),
												100% calc(100% - 4rem), calc(100% - 1.5rem) calc(100% - 4rem), calc(100% - 1.5rem) calc(100% - 3rem), calc(100% - .5rem) calc(100% - 3rem), calc(100% - .5rem) calc(100% - 4rem), 100% calc(100% - 4rem),
												100% 100%,
												 30% 100%,    calc(30% - 1rem) calc(100% - 1rem),    calc(10% + 1rem) calc(100% - 1rem),    10% 100%,		
												  0% 100%);
				}
			}
		}	
		.owl-item:not(.center){
			.item{ 
				.testimonial-text{
					.testimonial-text-box{
						transform: scale(.8);
						transition: .5s;
					}
				}
			}	
		}
		.owl-nav{
			position: absolute;
			width: 350px;
			top: 50px;
			left: 50%;
			transform: translate(-50%, -50%);
			display: flex;
			justify-content: space-between;
			opacity: 0;
			transition: .5s;
			z-index: 1;
			.owl-prev, .owl-next{
				position: relative;
				color: $primary !important;
				font-size: 2rem !important;
				transition: .5s;
				&:hover {
					color: $dark;
				}
			}
		}
		.owl-item.center .testimonial-text {
			transform: scale(1);
		}
	}
	.testimonial-carousel:hover {
		.owl-nav {
			width: 300px;
			opacity: 1;
		}
	}

	.join-us{
		background-image: url("../img/index/join-us.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center center;
		> [class*="container-"]{ 
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 680px;
			> *{
				filter: drop-shadow(0 0 5px rgba(0,0,0,.75)) 
						drop-shadow(1px 1px 1px rgba(0,0,0,.5));
			}
			.btn-light{
				&:hover{
					background-color: $tertiary;
				}
			}
		}
	}	
}

