.g-fw-300, .g-fw-light{
    font-weight: 300 !important;
}
.g-fw-400, .g-fw-regular{
    font-weight: 400 !important;
}
.g-fw-500, .g-fw-medium{
    font-weight: 500 !important;
}
.g-fw-700, .g-fw-bold{
    font-weight: 700 !important;
}
.g-fw-900, .g-fw-black{
    font-weight: 900 !important;
}
