.text-gray-100{ color: #f9f9f9; }
.text-gray-200{ color: #ebebeb; }
.text-gray-300{ color: #e1e1e1; }
.text-gray-400{ color: #d3d3d3; }
.text-gray-500{ color: #b3b3b3; }
.text-gray-600{ color: #737373; }
.text-gray-700{ color: #4f4f4f; }
.text-gray-800{ color: #393939; }
.text-gray-900{ color: #242424; }

.text-purple  { color: $purple; }
.text-pink    { color: $pink;   }
.text-teal    { color: $teal;   }
.text-green   { color: $green;  }