.back-to-top {
	position: fixed;
    right: $grid-gutter-width*.5;
    bottom: 4rem;
    z-index: 99;
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	color: $primary;
	opacity: .75;
	&:hover, &:focus, &:active{
		background-color: $tertiary;
		color: $primary;
		opacity: 1.0;
	}	 
}
