.exam__tips{
    text-align: right;
    .exam__tips-text{
        text-align: center;
    }
    .exam__tips-btn{
        background-color: transparent;
        border: none;
        margin-right: .25em;
        color: #000;
        padding:0;
        opacity: 0.25;
        overflow: hidden;
        transform: translateY(-2.65rem) rotate(180deg);
        > i{
           margin-top: -.45em;
        }
        &:hover{
            opacity: 0.5;    
        }
    }
    .exam__tips-btn[aria-expanded="ture"]{
        transform:  translateY(-2.65rem) rotate(180deg);
    }
    .exam__tips-btn[aria-expanded="false"]{
        transform: translateY(-1rem) rotate(0deg);
    }   
}
.exam__qPic-width{
    

    max-width: 100%;
    @media screen and (min-width: 992px) {
    max-width: 50%;    
    }
    @media screen and (min-width: 1025px) {
    max-width: 41.66666667%;      
    }
}
.exam__qPic{
    img{
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 35vh;
    } 
}