$operateWH: 7rem;
.operate-block{ 
    width: auto;
    height: calc(#{$operateWH} + 1rem*1.5 + .5rem);  
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
///*倒數準備時間*/
.prepare-spinner{  
    border-radius:  100%;
    width: $operateWH;
    height: $operateWH;
    background-color: #fff;
    margin: 0 1rem;
    position: relative;
    .spinner-border{
        width: 100%;
        height: 100%; 
        border-width: .3rem;
        animation-duration: var(--spinner-speed, 1s);
        &.paused {
          animation-play-state: paused;
        }
    }
    .prepare-count{
        color: $primary;
        font-size: $operateWH*.5;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center; 
        justify-content: center; 
    }
}


///*錄製音檔*/
button.record-spinner{
    background-color: transparent;
    border: none;
    &:hover{
        transform: scale(1.05);
    }
}
.record-spinner{
    border-radius:  100%;
    width: calc(#{$operateWH} + 1.5px);
    height: calc(#{$operateWH} + 1.5px);
    margin: 0 1rem;
    position: relative;
    .record-svg{
        transform: rotate(-90deg);
    }
    .record-borderBack{
        fill: #fff; 
        stroke: $gray-500;
        stroke-width: 1.5px;    
    }
    .record-borderFront{
        fill: none;
        stroke: $primary;
        stroke-width: 1.5px;
    }
    .record-count{
        color: $primary;
        font-size: $operateWH*.5;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center; 
        justify-content: center; 
        transform: translateY(-10%);
    }
    &::after{ 
        content: "\f130";
        display: block;
        font-family: "Font Awesome 6 Free"; 
        font-weight: 900;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);   
        color: $primary;
    }
    &.current{
        filter: drop-shadow(0 0 0.5rem rgba($primary, 1.0));
        animation: recAn 1s infinite alternate;
        &::after{ 
            animation: flashAn 1s infinite alternate;
        }
    }
}
