.text-gray-100{ color: #f8f9fa; }
.text-gray-200{ color: #e9ecef; }
.text-gray-300{ color: #dee2e6; }
.text-gray-400{ color: #ced4da; }
.text-gray-500{ color: #adb5bd; }
.text-gray-600{ color: #6c757d; }
.text-gray-700{ color: #495057; }
.text-gray-800{ color: #343a40; }
.text-gray-900{ color: #212529; }

.text-yellow-100{ color: $yellow-100; }
.text-yellow-200{ color: $yellow-200; }
.text-yellow-300{ color: $yellow-300; }
.text-yellow-400{ color: $yellow-400; }
.text-yellow-500{ color: $yellow-500; }
.text-yellow-600{ color: $yellow-600; }
.text-yellow-700{ color: $yellow-700; }
.text-yellow-800{ color: $yellow-800; }
.text-yellow-900{ color: $yellow-900; }
