@charset "UTF-8";
html, body { width: 100%; height: 100%; min-height: 100%; font-family: 'Noto Sans', 'Noto Sans TC', 'Microsoft JhengHei',  'PingFang TC', 'Heiti TC',  'LiHei Pro', sans-serif !important; letter-spacing: 0.05em; background-color: #FFF6EE; font-size: 14px; }
@media screen and (min-width: 768px) { html, body { font-size: 16px; } }
@media screen and (min-width: 1200px) { html, body { font-size: 18px; } }

/* ************************************************* */
.page { width: 100%; height: 100%; position: relative; }
.page .bg { width: 100%; height: 100%; position: fixed; top: 0; left: 0; -webkit-filter: blur(3px) opacity(0.5); -moz-filter: blur(3px) opacity(0.5); -o-filter: blur(3px) opacity(0.5); -ms-filter: blur(3px) opacity(0.5); filter: blur(3px) opacity(0.5); background-image: url("../images/bg.jpg"); background-repeat: no-repeat; background-position: center center; background-size: 100% 100%; background-color: #e0f1d3; }
.page .header { width: 100%; position: relative; }
.page .header [class*="container"] h1 { color: #495057; margin-bottom: .75rem; margin-top: .75rem; line-height: 1; display: flex; align-items: center; justify-content: space-between; filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.75)); }
.page .content { width: 100%; position: relative; }
@media screen and (min-width: 576px) { .page .content { padding-bottom: 1.5rem; } }
@media screen and (min-width: 992px) { .page .content { padding-bottom: 2rem; } }
@media screen and (min-width: 1200px) { .page .content { padding-bottom: 3rem; } }
.page .content [class*="container"] { background-color: rgba(255, 255, 255, 0.7); }
@media screen and (min-width: 576px) { .page .content [class*="container"] { border-radius: .5rem; } }
.page .content [class*="container"] > .row { min-height: calc(100vh - (1.325rem + 0.9vw) - .75rem - .75rem - .5rem); }
@media screen and (min-width: 576px) { .page .content [class*="container"] > .row { min-height: calc(100vh - (1.325rem + 0.9vw) - .75rem - .75rem - .5rem - 1.5rem); } }
@media screen and (min-width: 992px) { .page .content [class*="container"] > .row { min-height: calc(100vh - (48px) - .75rem - .75rem - 2rem); } }
@media screen and (min-width: 1200px) { .page .content [class*="container"] > .row { min-height: calc(100vh - (48px) - .75rem - .75rem - 3rem); } }

.g-fw-300, .g-fw-light { font-weight: 300 !important; }

.g-fw-400, .g-fw-regular { font-weight: 400 !important; }

.g-fw-500, .g-fw-medium { font-weight: 500 !important; }

.g-fw-700, .g-fw-bold { font-weight: 700 !important; }

.g-fw-900, .g-fw-black { font-weight: 900 !important; }

@keyframes flashAn { 0% { opacity: 1.0; }
  100% { opacity: 0.25; } }
@keyframes ScaleAn { 0% { transform: scale(1); }
  100% { transform: scale(1.05); } }
@keyframes arrowColorAn { 0% { color: #dd5616; }
  50% { color: #dd5616; }
  51% { color: #fff; }
  100% { color: #fff; } }
@keyframes arrowMoveAn { 0% { margin-left: 0; }
  100% { margin-left: -1rem; } }
@keyframes bgScaleAn { 0% { transform: skewX(-20deg) scaleX(0); }
  100% { transform: skewX(-20deg) scaleX(10); } }
@keyframes bgMoveAn { 0% { right: 2rem; }
  100% { right: 100%; } }
@keyframes recAn { 0% { filter: drop-shadow(0 0 0.5rem #dd5616); }
  100% { filter: drop-shadow(0 0 0.5rem rgba(221, 86, 22, 0)); } }
.text-gray-100 { color: #f9f9f9; }

.text-gray-200 { color: #ebebeb; }

.text-gray-300 { color: #e1e1e1; }

.text-gray-400 { color: #d3d3d3; }

.text-gray-500 { color: #b3b3b3; }

.text-gray-600 { color: #737373; }

.text-gray-700 { color: #4f4f4f; }

.text-gray-800 { color: #393939; }

.text-gray-900 { color: #242424; }

.text-purple { color: #4A40C3; }

.text-pink { color: #C340B2; }

.text-teal { color: #d8d815; }

.text-green { color: #63ba21; }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active { -webkit-text-fill-color: #495057; -webkit-box-shadow: 0 0 0 1000px rgba(139, 213, 220, 0.2) inset; transition: background-color 5000s ease-in-out 0s; }

::selection { background: #136bef; color: #fff; }

::-moz-selection { background: #136bef; color: #fff; }

img::selection { background: transparent; }

img::-moz-selection { background: transparent; }

.sr-only-goContent { background-color: #dd5616; color: #FFF; position: absolute !important; top: 0; left: 0; text-decoration: none; font-size: 1rem; padding: .25rem .5rem 0 .25rem; z-index: 5000; }
.sr-only-goContent:active, .sr-only-goContent:focus { position: static; width: auto !important; height: auto !important; margin: 0; overflow: visible; clip: auto; }

[class*="btn-outline"] { background-color: #fff; }

.tooltip-inner { text-align: left; }

.btn:disabled, .btn.disabled, .btndisabled, .btn[disabled="disabled"] { filter: opacity(0.5); }

.btn__circle { border-radius: 100%; width: calc(2em + 1rem + 1rem - 2px); height: calc(2em + 1rem + 1rem - 2px); display: inline-flex; align-items: center; justify-content: center; }

.btn-primary { color: #fff; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.disabled, .btn-primary[disabled], .btn-primary[disabled="disabled"] { color: #fff !important; }

.btn-outline-primary { background-color: #fff; border-color: transparent !important; box-shadow: 0 0 4px rgba(221, 86, 22, 0.5); }
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active { background-color: #f9d7d4 !important; color: #dd5616 !important; }

.style-h3 { color: #dd5616; font-weight: bold; background-color: #f8ddd0; border-radius: 4em; padding-top: .5rem; padding-bottom: .5rem; text-align: center; margin-bottom: 1rem; }

.style-marker { display: flex; justify-content: flex-end; align-items: center; font-size: .9rem; color: #6c757d; }
.style-marker .marker-circle { display: inline-block; width: .9rem; height: .9rem; border-radius: 100%; background-color: #136bef; margin-right: .25rem; }

@media screen and (min-width: 992px) { .min-ratio { height: 100% !important; } }

.spinner { position: fixed; z-index: 9999; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.5); display: flex; justify-content: center; align-items: center; opacity: 0; visibility: hidden; transition: opacity .5s ease-out, visibility 0s linear .5s; }
.spinner.show { transition: opacity .5s ease-out, visibility 0s linear 0s; visibility: visible; opacity: 1; }
.spinner .spinner-border { width: 3rem; height: 3rem; }

.lightboxModal { display: block; position: relative; }
.lightboxModal::before { content: ""; width: 1em; height: 1em; border-radius: 100%; background-color: #fff; position: absolute; bottom: .9rem; right: .9rem; z-index: 1; }
.lightboxModal::after { content: "\f00e"; font-family: "Font Awesome 6 Free"; font-weight: 900; position: absolute; bottom: .5rem; right: .5rem; color: #dd5616; font-size: 1.5em; line-height: 1; z-index: 2; text-shadow: 1px 1px 0px white, -1px -1px 0px white, -1px 1px 0px white, 1px -1px 0px white; transform: scale(1); transition: all .5s ease-in; }
.lightboxModal:hover { cursor: pointer; filter: brightness(0.8); transform: scale(1.05); transition: all .5s ease-in; }

#lightboxModal .modal-dialog .modal-content { background-color: transparent; border-color: transparent; }

#lightboxModal.lightbox2 .modal-dialog .modal-content img { max-height: calc(100vh - 1.75rem*2); margin: 0 auto; display: block; }

/* ************************************************* */
.part-item { position: relative; height: 8rem; border-radius: .5rem; margin-bottom: 1rem; display: flex; flex-direction: row; align-items: center; background-color: #fff; }
.part-item .part-content { width: calc(100% - 4rem); height: 100%; }
.part-item .part-content .part-content-title { color: #fff; font-size: 1.6rem !important; font-weight: 500 !important; line-height: 1.5 !important; display: inline-flex; height: 100%; align-items: center; padding-left: 3rem; padding-right: 3rem; margin-left: 3rem; position: relative; z-index: 1; }
.part-item .part-content .part-content-title::before { content: ""; display: block; position: absolute; top: 0; left: -1.5rem; right: 0; bottom: 0; width: 100%; height: 100%; background-color: #dd5616; transform-origin: bottom; transform: skewX(-20deg); z-index: -1; }
.part-item .part-content .part-content-title::after { content: ""; display: block; position: absolute; top: 0; right: 2rem; bottom: 0; width: .25rem; height: 100%; background-color: #fff; transform-origin: bottom; transform: skewX(-20deg); z-index: 2; }
.part-item .part-content .part-content-describe { color: #6c757d; font-size: 1rem !important; font-weight: 400 !important; line-height: 1.5 !important; }

a.part-item { background-color: #fff; box-shadow: 0 0 5px rgba(0, 0, 0, 0.05); margin-bottom: 3rem; position: relative; }
a.part-item::after { position: relative; color: #dd5616; font-size: 2rem; content: "\f061"; font-family: "Font Awesome 6 Free"; font-weight: 900; margin-bottom: 0; }

a.part-item:hover { overflow: hidden; }
a.part-item:hover::after { animation: arrowColorAn 1.5s, arrowMoveAn 1s infinite alternate; color: #fff; z-index: 10; }
a.part-item:hover .part-content .part-content-title::before { transform: skewX(-20deg) scaleX(10); animation: bgScaleAn 1.5s; }
a.part-item:hover .part-content .part-content-title::after { animation: bgMoveAn 1.5s; right: 100%; }

a.part-item.disabled { opacity: .65; }
a.part-item.disabled::after { content: ""; }
a.part-item.disabled:hover { background-color: #fff; cursor: default; }
@media screen and (min-width: 768px) { a.part-item.disabled .part-content { flex-direction: row; flex-wrap: wrap; } }
@media screen and (min-width: 768px) { a.part-item.disabled .part-content .part-content-title { order: 1 !important; display: inline-block; } }
@media screen and (min-width: 768px) { a.part-item.disabled .part-content .part-content-describe { order: 3 !important; } }
a.part-item.disabled .part-content .part-content-alert { background-color: #e0392a; color: #fff; padding: 0 1rem; border-radius: 2em; font-size: 1.2rem; white-space: nowrap; margin-bottom: .25rem; }
@media screen and (min-width: 768px) { a.part-item.disabled .part-content .part-content-alert { margin-bottom: 0; order: 2 !important; display: inline-block; margin: .25rem .5rem; } }

/* ************************************************* */
.exam-list-group .list-group-item { border-radius: 0 !important; color: #dd5616; border-color: transparent; border-bottom-color: #dd5616; font-size: 1.2rem; font-weight: 700; padding: 0.75rem calc(1rem + 1rem + 1rem) 0.75rem 1rem; margin-bottom: 1rem; line-height: 1.5; position: relative; display: flex; flex-direction: column; align-items: flex-start; }
@media screen and (min-width: 768px) { .exam-list-group .list-group-item { flex-direction: row; align-items: center; flex-wrap: wrap; } }
.exam-list-group .list-group-item small { color: #6c757d; font-weight: 400; white-space: pre-wrap; margin-right: auto; }
@media screen and (min-width: 768px) { .exam-list-group .list-group-item small { margin-left: 1rem; } }
.exam-list-group .list-group-item .exam-progress { font-weight: 500; font-size: 1rem; }
@media screen and (min-width: 768px) { .exam-list-group .list-group-item .exam-progress { font-size: 1.1rem; } }
.exam-list-group .list-group-item::after { content: "\f061"; font-family: "Font Awesome 6 Free"; font-weight: 900; color: #dd5616; font-size: 1.2rem; position: absolute; top: 50%; right: 1rem; transform: translateY(-50%); }
.exam-list-group .list-group-item.done { color: #136bef; border-bottom-color: #136bef; }
.exam-list-group .list-group-item.done::after { color: #136bef; }
.exam-list-group .list-group-item:hover, .exam-list-group .list-group-item:focus, .exam-list-group .list-group-item:active { color: #b32e22; border-bottom-color: #b32e22; }
.exam-list-group .list-group-item:hover::after, .exam-list-group .list-group-item:focus::after, .exam-list-group .list-group-item:active::after { color: #b32e22; }
.exam-list-group .list-group-item-action { background-color: transparent; }

.operate-block { width: auto; height: 7rem; margin-left: auto; margin-bottom: 1rem; display: flex; justify-content: end; }

.timing-spinner { border-radius: 100%; width: calc(7rem + 1.5px); height: calc(7rem + 1.5px); margin: 0 1rem; position: relative; }
.timing-spinner .timing-svg { transform: rotate(-90deg); }
.timing-spinner .timing-borderBack { fill: #fff; stroke: #adb5bd; stroke-width: 1.5px; }
.timing-spinner .timing-borderFront { fill: none; stroke: #dd5616; stroke-width: 1.5px; }
.timing-spinner .timing-count { color: #dd5616; font-size: 2.1rem; position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; font-weight: 600; }

.step-start { min-height: calc(1.25rem*1.5 + .5rem*2); }
.step-start .btn { animation: ScaleAn 1s infinite alternate; }

form { position: relative; min-height: 100%; }

.step-mask { position: absolute; z-index: 1069; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); -webkit-mask-image: url("../images/step-mask.png"), url("../images/step-mask.png"); -webkit-mask-repeat: no-repeat; -webkit-mask-composite: source-out; -webkit-mask-composite: subtract; -moz-mask-image: url("../images/step-mask.png"), url("../images/step-mask.png"); -moz-mask-repeat: no-repeat; -moz-mask-composite: source-out; -moz-mask-composite: subtract; -ms-mask-image: url("../images/step-mask.png"), url("../images/step-mask.png"); -ms-mask-repeat: no-repeat; -ms-mask-composite: source-out; -ms-mask-composite: subtract; -o-mask-image: url("../images/step-mask.png"), url("../images/step-mask.png"); -o-mask-repeat: no-repeat; -o-mask-composite: source-out; -o-mask-composite: subtract; mask-image: url("../images/step-mask.png"), url("../images/step-mask.png"); mask-repeat: no-repeat; mask-composite: source-out; mask-composite: subtract; }

.step-content { position: absolute; z-index: 1070; }

.step-popover { --bs-popover-font-size: .9rem; --bs-popover-bg: var(--bs-secondary); --bs-popover-header-color: #fff; --bs-popover-header-bg: var(--bs-secondary); --bs-popover-body-color: #fff; --bs-popover-arrow-border: var(--bs-secondary); box-shadow: none; filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.25)); }
.step-popover .popover-body .step-num { font-size: 3rem; font-weight: bolder; color: #fff; position: absolute; top: 0; left: 0; line-height: 1; transform: translate(1rem, calc(-100% + .25em)); font-style: italic; }
.step-popover .popover-body .step-num::before { content: attr(data-num); display: inline-block; position: absolute; -webkit-text-stroke: 10px #136bef; text-stroke: 10px #136bef; z-index: -1; }
.step-popover .popover-body p { text-shadow: 1px 1px rgba(0, 0, 0, 0.25); }
.step-popover .popover-body p:last-child { margin-bottom: 0; }
.step-popover .btn-outline-secondary:hover, .step-popover .btn-outline-secondary:active, .step-popover .btn-outline-secondary:focus { background-color: #fff !important; color: #136bef !important; transform: scale(1.05); }

.agreement__block { height: calc((100vh - (1.375rem + 1.5vw) - .75rem - .75rem)/2); border: 1px solid #ced4da; overflow-y: auto; }

.agreement__checkbox .form-check input, .agreement__checkbox .form-check label { cursor: pointer; }
.agreement__checkbox .form-check input:not(:checked) { background-color: #fff; }

.exam__textarea { min-height: calc(100vh - 7rem - 1rem*2 - 1.5rem*2) !important; }
@media screen and (min-width: 992px) { .exam__textarea { min-height: calc(100% - 7rem - 1rem) !important; } }

.exam__qPic-width { max-width: 100%; }
@media screen and (min-width: 992px) { .exam__qPic-width { max-width: 50%; } }
@media screen and (min-width: 1025px) { .exam__qPic-width { max-width: 41.66666667%; } }

.exam__qPic img { width: auto; height: auto; max-width: 100%; max-height: 35vh; }

.feedback-accordion .accordion-item { background-color: transparent; border-color: transparent; margin-bottom: 1rem; }
.feedback-accordion .accordion-item .accordion-header .accordion-button { background-color: transparent; font-size: 1.2rem; font-weight: 700; color: #136bef; white-space: nowrap; border-bottom: 1px solid #136bef; border-radius: 0; padding: 0.75rem calc(1rem + 1rem + 1rem) 0.75rem 1rem; line-height: 1.5; display: flex; flex-direction: column; align-items: flex-start; }
@media screen and (min-width: 768px) { .feedback-accordion .accordion-item .accordion-header .accordion-button { flex-direction: row; align-items: center; flex-wrap: wrap; } }
.feedback-accordion .accordion-item .accordion-header .accordion-button small { color: #6c757d; font-weight: 400; white-space: pre-wrap; }
@media screen and (min-width: 768px) { .feedback-accordion .accordion-item .accordion-header .accordion-button small { margin-left: 1rem; } }
.feedback-accordion .accordion-item .accordion-header .accordion-button::after { background-image: none; content: "\f078"; font-family: "Font Awesome 6 Free"; font-weight: 900; position: absolute; top: 50%; right: 1rem; transform: translateY(-50%); }
.feedback-accordion .accordion-item .accordion-header .accordion-button:hover, .feedback-accordion .accordion-item .accordion-header .accordion-button:focus, .feedback-accordion .accordion-item .accordion-header .accordion-button:active { color: #b32e22; border-bottom-color: #b32e22; box-shadow: none; }
.feedback-accordion .accordion-item .accordion-header .accordion-button[aria-expanded="true"] { color: #b32e22; border-bottom-color: #b32e22; }
.feedback-accordion .accordion-item .accordion-header .accordion-button[disabled]:hover, .feedback-accordion .accordion-item .accordion-header .accordion-button[disabled]:focus, .feedback-accordion .accordion-item .accordion-header .accordion-button[disabled]:active, .feedback-accordion .accordion-item .accordion-header .accordion-button[disabled="disabled"]:hover, .feedback-accordion .accordion-item .accordion-header .accordion-button[disabled="disabled"]:focus, .feedback-accordion .accordion-item .accordion-header .accordion-button[disabled="disabled"]:active { color: #136bef; border-bottom-color: #136bef; }
.feedback-accordion .accordion-item .accordion-header .accordion-button[disabled]::after, .feedback-accordion .accordion-item .accordion-header .accordion-button[disabled="disabled"]::after { display: none; }
.feedback-accordion .accordion-item .accordion-body { background-color: transparent; padding-bottom: 0; padding-top: 0; }

.feedback-list { list-style: none; padding: 0; }
.feedback-list li { padding: .75rem 0; border-bottom: 1px dashed #adb5bd; }
.feedback-list li a { color: #212529; }
.feedback-list li a::before { content: ""; display: inline-block; width: 10px; height: 10px; border-radius: 100%; background-color: #212529; vertical-align: middle; margin-right: .5rem; }
.feedback-list li a:hover, .feedback-list li a:focus, .feedback-list li a:active { color: #e66155; }
.feedback-list li a:hover::before, .feedback-list li a:focus::before, .feedback-list li a:active::before { background-color: #e66155; }

.feedback-card-group .col .card { background-color: transparent; background-clip: border-box; border-color: transparent; background-repeat: no-repeat; }
.feedback-card-group .col .card img { width: 100%; }
.feedback-card-group .col .card .card-title { color: #fff; padding: .25rem 1rem 1.25rem 1rem; border-radius: .5rem; margin-bottom: 0; }
.feedback-card-group .col .card .card-title::before { content: ""; display: none; width: 10px; height: 10px; border-radius: 100%; margin-right: .25rem; vertical-align: middle; background-color: #fff; }
.feedback-card-group .col .card .card-text { padding-left: .75rem; border: 1px solid #ccc; border-radius: .5rem; margin-top: -1rem; background-color: #fff; min-height: calc(3rem*1.5 + .25rem + .25rem); line-height: 1.5; padding-top: .2rem; padding-bottom: .25rem; }

.feedback-card-text { /*內容*/ }
.feedback-card-text .card-title { background-color: #63ba21; }
.feedback-card-text .card-text { border-color: #63ba21 !important; }

.feedback-card-organize { /*組織*/ }
.feedback-card-organize .card-title { background-color: #fcae05; }
.feedback-card-organize .card-text { border-color: #fcae05 !important; }

.feedback-card-grammar { /*文法、句構*/ }
.feedback-card-grammar .card-title { background-color: #C340B2; }
.feedback-card-grammar .card-text { border-color: #C340B2 !important; }

.feedback-card-vocabulary { /*字彙、拼字*/ }
.feedback-card-vocabulary .card-title { background-color: #18ACBA; }
.feedback-card-vocabulary .card-text { border-color: #18ACBA !important; }

.feedback-card-overall { /*整體表現*/ }
.feedback-card-overall .card-title { background-color: #136bef; }
.feedback-card-overall .card-text { border-color: #136bef !important; }

.feedback-h5::before { content: ""; display: inline-block; width: 10px; height: 10px; border-radius: 100%; background-color: #212529; vertical-align: middle; margin-right: .5rem; }
